@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
html,
body {
  font-family: var(--main-font-family);
}
input,
button {
  outline: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.header {
  position: relative;
  background-image: var(--main-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 900px;
  min-height: 310px;
}
.header .menu {
  position: relative;
  height: auto;
  width: max-content;
  transition: all 0.5s;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;
}
.header .menu_block {
  display: inherit;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 108px;
  background-color: #FFFFFFAB;
  z-index: 1;
}
.header .menu_line {
  padding-top: 70px;
  align-items: center;
  justify-content: space-between;
}
.header .main_text {
  padding-top: 260px;
}
.header .hamburger {
  display: none;
  width: 25px;
  height: 22px;
  position: relative;
  margin-right: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header .hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #1D1D1D;
  border-radius: 0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header .hamburger span:nth-child(1) {
  top: 0px;
}
.header .hamburger span:nth-child(2) {
  top: 8px;
}
.header .hamburger span:nth-child(3) {
  top: 16px;
}
.header .hamburger.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.header .hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.header .hamburger.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.carousel {
  margin-top: -150px;
  z-index: 0;
}
.carousel .slide_img {
  width: 100%;
  max-width: 1600px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: 20% !important;
  opacity: 1 !important;
}
.carousel .arrows {
  width: 35px;
  height: 35px;
  background: transparent;
  transition: all 0.5s;
}
.carousel .arrows:hover {
  background: #000000BF;
}
.logo_img {
  width: 185px;
  height: auto;
}
.logo,
.menu {
  width: max-content;
  z-index: 100;
}
button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.menu .arrow_right {
  display: none;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.menu .menu_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  margin-right: 35px;
  padding-bottom: 2px;
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
}
.menu .menu_link:hover {
  box-shadow: inset 0 -1px 0 0 #000000;
}
.menu .langs {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  margin-right: 55px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  margin-left: 0;
}
.menu .langs li {
  opacity: 0;
  visibility: hidden;
  transition: 0.55s opacity, 0.55s visibility;
}
.menu .langs:after {
  position: absolute;
  top: 0;
  right: -15px;
  content: url(../images/down.png);
  width: 10px;
  height: 4px;
}
.menu .langs:hover li {
  opacity: 1;
  visibility: visible;
}
.menu .contact_us {
  background-color: #FFE600;
  width: 200px;
  height: 45px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  transition: all 0.5s;
  margin-left: 0;
  display: block;
}
.menu .contact_us:hover {
  background-color: #000000;
  color: #FFFFFF;
}
h1 {
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;
  color: #FFFFFF;
}
.subtext {
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
  margin-bottom: 150px;
}
.about_us {
  margin-bottom: 200px;
}
.about_us h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 30px;
  color: #1D1D1D;
  margin-top: 120px;
}
.about_us p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.001em;
  padding-right: 20px;
  color: #282828;
}
.about_us img {
  width: 100%;
  height: auto;
  margin-top: 120px;
}
.technology {
  margin-top: -50px;
}
.technology h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 30px;
  color: #1D1D1D;
}
.technology p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.001em;
  padding-right: 20px;
  color: #282828;
}
.technology .stages {
  display: flex;
  margin-top: 100px;
}
.technology .stage_card {
  text-align: center;
  padding: 0 20px;
}
.technology .stage_card img {
  width: 100%;
  max-width: 370px;
  height: auto;
}
.technology .stage_card .img_one {
  margin-bottom: 244px;
}
.technology .stage_card .img_two {
  margin-bottom: 175px;
}
.technology .stage_card .img_three {
  margin-bottom: 106px;
}
.technology .stage_card .stage_text {
  text-align: left;
}
.technology .stage_card .stage_text p {
  margin-top: 30px;
}
.technology .owl-carousel {
  display: none;
}
.slick {
  margin-top: 100px;
}
.slick button {
  display: none !important;
}
.slick-initialized .slick-slide {
  transform: scale(0.9);
  transition: all 1s;
}
.slick-initialized .slick-active {
  opacity: 1;
  transform: scale(1);
  transition: all 1s;
}
.slick-slide img {
  width: 100% !important;
}
.mobile_stages {
  display: none;
}
.slogan {
  margin-top: 150px;
  margin-bottom: 200px;
}
.slogan .name {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding: 0;
  margin: 0;
  color: #282828;
}
.slogan .prof {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #909090;
}
.slogan .text {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  color: #282828;
}
.slogan .slagan_name {
  order: 1;
}
.slogan .slogan_text {
  order: 1;
}
.footer {
  background-color: #212121;
  padding: 150px 0 0 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer_menu {
  margin-bottom: 0;
}
.footer .footer_contacts {
  margin-bottom: 0;
}
.footer .footer_socials {
  text-align: right;
  margin-bottom: 0;
}
.footer .copyright {
  margin-top: 150px;
}
.catalogue {
  margin-top: 120px;
  margin-bottom: 200px;
}
.catalogue h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 30px;
  color: #1D1D1D;
}
.catalogue p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.001em;
  padding-right: 20px;
  color: #282828;
}
.catalogue .ltr_block,
.catalogue .rtl_block {
  margin-top: 100px;
}
.catalogue .product_img_block,
.catalogue .product_descr_block {
  padding: 0 20px;
}
.catalogue .product {
  width: 100%;
  height: auto;
}
.catalogue .product_title {
  font-size: 24px;
  color: #1D1D1D;
  line-height: 29px;
  font-weight: 500;
}
.catalogue .product_descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.001em;
  color: #282828;
}
.catalogue .info_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #282828;
}
.catalogue .tech_data {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.catalogue .tech_data p {
  margin-bottom: 0;
}
.catalogue .tech_data .data_info,
.catalogue .tech_data .data_country {
  width: 50%;
  margin-bottom: 10px;
}
.catalogue .tech_data .data_descr {
  width: 70%;
  margin-bottom: 20px;
}
.catalogue .tech_data .tech_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
}
.catalogue .tech_data .tech_title_descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #9D9D9D;
}
.catalogue .download {
  display: flex;
  align-items: center;
  width: 60%;
}
.catalogue .download img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.catalogue .download .download_file {
  color: #212121;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s;
}
.catalogue .download .download_file:hover {
  text-decoration: underline;
}
.gallery {
  margin-bottom: 150px;
}
.gallery .visible_item {
  display: none;
}
.gallery .grid {
  margin-top: -15px;
}
.gallery .grid:after {
  content: '';
  display: block;
  clear: both;
}
.gallery .element-item {
  position: relative;
  float: left;
  padding: 15px;
}
.gallery .element-item .gallery_img {
  width: 100%;
  height: auto;
}
.gallery .element-item > * {
  margin: 0;
  padding: 0;
}
.gallery .button-group-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
  cursor: pointer;
}
.gallery .button-group-home button {
  border: none;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #212121;
  margin: 5px 40px;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2px;
}
.gallery .button-group-home button:after {
  position: absolute;
  display: block;
  content: "|";
  font-size: 12px;
  right: -41px;
  top: 0;
}
.gallery .button-group-home button:last-child:after {
  display: none;
}
.gallery .button-group-home button.is-checked {
  box-shadow: inset 0 -1px 0 0 #000000;
}
.gallery .gallery_box {
  position: relative;
  transition: all 0.5s;
}
.gallery .gallery_box .gallery_img {
  width: 100%;
  height: auto;
}
.gallery .gallery_box .titles {
  position: absolute;
  bottom: 15px;
  left: 25px;
  display: none;
}
.gallery .gallery_box .titles a {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
.gallery .gallery_box .titles a:hover {
  text-decoration: underline;
}
.gallery .gallery_box .titles p {
  font-weight: 500;
  font-size: 12px;
  line-height: 155%;
  color: #FFFFFF;
  margin: 0;
}
.gallery .gallery_box:hover {
  cursor: pointer;
}
.gallery .gallery_box:hover .titles {
  display: block;
}
.gallery .gallery_box:hover .gallery_img {
  filter: brightness(40%);
}
.gallery .showMore {
  margin: 40px auto;
  display: block;
  padding: 10px 25px;
  border: 2px solid #9D9D9D;
  color: #9D9D9D;
  background: transparent;
}
.navigation {
  border-top: 1px solid #000000;
  padding: 35px 0;
}
.navigation .row {
  align-items: center;
}
.navigation .col-4:first-child {
  text-align: left;
}
.navigation .col-4:last-child {
  text-align: right;
}
.navigation p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #9D9D9D;
}
.navigation img {
  height: 30px;
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navigation .prev,
.navigation .next {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #212121;
  text-decoration: none;
}
.description {
  margin-top: -150px;
}
.description .descr_title,
.description .descr_wrap {
  padding: 0 40px;
}
.description h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #212121;
}
.description p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.001em;
  color: #212121;
}
.description .descr_info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
  margin-top: 30px;
}
.description .descr_info .info_block {
  margin-right: 20px;
  width: 25%;
}
.description .descr_info .name,
.description .descr_info .text {
  margin-bottom: 0;
}
.description .descr_info .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #212121;
  margin-bottom: 5px;
}
.description .descr_info .text {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #9D9D9D;
}
.modal-dialog {
  max-width: 800px;
}
.modal-content {
  border-radius: 0;
  padding: 0 80px;
}
.modal-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
.modal-content .form_group {
  width: 48%;
}
.modal-content .name,
.modal-content .phone,
.modal-content .email,
.modal-content .country {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 55px;
  padding: 10px;
}
.modal-content .name:focus,
.modal-content .phone:focus,
.modal-content .email:focus,
.modal-content .country:focus {
  border-bottom: 1px solid #000000;
}
.modal-content .send {
  background-color: #FFE600;
  width: 200px;
  height: 45px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  transition: all 0.5s;
}
.modal-content .send:hover {
  background-color: #000000;
  color: #FFFFFF;
}
.modal-content .send:focus {
  border: none;
}
.modal-content .send:disabled {
  color: grey;
  border: 1px solid grey;
  background: transparent;
}
.modal-content .send:disabled:hover {
  color: grey;
  border: 1px solid grey;
  background: transparent;
}
.modal-content .lable_name,
.modal-content .lable_phone,
.modal-content .lable_email,
.modal-content .lable_country {
  display: none;
  position: absolute;
  top: -12px;
  left: 11px;
  color: #9D9D9D;
  font-size: 12px;
}
.btn-close {
  position: absolute;
  right: 0;
  margin: 10px;
}
.modal h2 {
  margin-top: 120px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 50px;
}
.modal .confidential {
  color: #212121;
}
.form-check-label {
  margin-bottom: 30px;
}
.form-check-label:hover {
  cursor: pointer;
}
.form-check-input[type="checkbox"] {
  border-radius: 0;
}
.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}
@media (max-width: 1199px) {
  .technology .stage_card .img_one {
    margin-bottom: 218px;
  }
  .technology .stage_card .img_two {
    margin-bottom: 162px;
  }
}
@media (max-width: 991px) {
  .main_menu {
    background: #FFFFFF;
    max-width: 100%;
    position: fixed;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
  }
  .logo_img {
    width: 140px;
  }
  .header {
    height: auto;
    background-position: 18% 100%;
  }
  .header .menu_line {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .header .main_text {
    padding-top: 150px;
  }
  .header .menu {
    position: absolute;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    transition: all 0.5s;
    top: 60px;
    left: 0;
    z-index: 1000;
    background: #FFFFFF;
    padding: 0;
  }
  .header .menu_block {
    display: none;
  }
  .header .hamburger {
    display: inherit;
  }
  .carousel {
    margin-top: 50px;
  }
  .description {
    margin-top: 0;
  }
  .menu {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }
  .menu .arrow_right {
    display: inherit;
    width: 5px;
    height: 10px;
    margin-right: 20px;
  }
  .menu ul {
    flex-direction: column;
    margin-left: 20px;
    width: 95%;
    padding-top: 40px;
  }
  .menu ul li {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .menu .lang {
    margin-left: 20px;
    display: none;
  }
  .menu .contact_us {
    display: none;
  }
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .subtext {
    font-size: 14px;
    line-height: 17px;
  }
  .about_us {
    margin-bottom: 105px;
  }
  .about_us h2 {
    margin-top: 70px;
  }
  .about_us img {
    margin-top: 40px;
  }
  .mobile_stages {
    display: block;
  }
  .technology .stage_card .img_one {
    margin-bottom: 186px;
  }
  .technology .stage_card .img_two {
    margin-bottom: 147px;
  }
  .slogan {
    margin-bottom: 100px;
  }
  .slogan .slogan_text {
    order: 0;
  }
  .slogan .text {
    font-size: 24px;
    line-height: 29px;
  }
  .catalogue {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .catalogue .ltr_block,
  .catalogue .rtl_block {
    margin-top: 0;
  }
  .catalogue .product_img_block,
  .catalogue .product_descr_block {
    padding: 50px 20px;
  }
  .catalogue .product_img_block {
    order: -1;
  }
  .catalogue .product_descr_block {
    order: 2;
  }
  .catalogue .tech_data .data_info,
  .catalogue .tech_data .data_country {
    width: 100%;
  }
  .catalogue .download {
    width: 100%;
  }
  .footer {
    padding: 80px 0 0 0;
  }
  .footer .footer_menu {
    margin-bottom: 50px;
  }
  .footer .footer_contacts {
    margin-bottom: 50px;
  }
  .footer .footer_socials {
    text-align: left;
  }
  .footer .copyright {
    margin-top: 100px;
  }
  .modal-dialog {
    margin: 0;
  }
  .modal-content {
    padding: 10px;
  }
  .modal-content .form_group {
    width: 100%;
    position: relative;
  }
  .modal-content .name,
  .modal-content .phone,
  .modal-content .email,
  .modal-content .country {
    width: 100%;
  }
  .modal h2 {
    margin-top: 50px;
  }
  :focus::-webkit-input-placeholder {
    color: transparent;
  }
  :focus::-moz-placeholder {
    color: transparent;
  }
  :focus:-moz-placeholder {
    color: transparent;
  }
  :focus:-ms-input-placeholder {
    color: transparent;
  }
}
@media (max-width: 767px) {
  .technology .stages {
    display: none;
  }
  .technology .owl-carousel {
    display: block;
  }
  .technology .owl-carousel .stages_img {
    width: 290px;
    height: 250px;
    overflow: hidden;
  }
  .technology .owl-carousel .stages_img img {
    width: 100%;
    height: auto;
  }
}
